@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

  .heroHeader {
    background-color: #eaeeef; /* Light blue color */
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
  }

.root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .root-layout .ant-layout {
    flex: 1;
  }